<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head></h:head>
    <h:body>
        <p:layout style="min-width:400px;min-height:500px;">
            <p:layoutUnit position="north" resizable="true" size="100" minSize="50" maxSize="400">
                <div align="center">
                <h:form id="registro_cliente">
                    <h:outputText value="Registrar Cliente: "></h:outputText>
                    <h:inputText id="nombre" binding="#{nombre}" ></h:inputText>
                    <p:watermark for="nombre" value="Nombre"/>
                    <h:outputText value="&#160;" />
                    <h:inputText id="documento" binding="#{documento}"/>
                    <p:watermark for="documento" value="Documento" />
                    <h:outputText value="&#160;" />
                    <h:inputText id="telefono" binding="#{telefono}"/>
                    <p:watermark for="telefono" value="Telefono" />
                    <h:outputText value="&#160;" />
                    <h:inputText id="direccion" binding="#{direccion}"/>
                    <p:watermark for="direccion" value="Direccion" />
                    <h:outputText value="&#160;" />
                    <h:inputText id="email" binding="#{email}"/>
                    <p:watermark for="email" value="Email" />
                    <h:outputText value="&#160;" />
                    <p:commandButton action="#{AlquilerItems.registrarCliente(nombre.value, documento.value, telefono.value, direccion.value, email.value)}" 
                                     update=":#{p:component('tabla_clientes')}" value="Registrar"/>
                </h:form>
                </div>
            </p:layoutUnit>
            <p:layoutUnit position="center" resizable="true" size="500" minSize="400">
                <h:form id="tabla_clientes">
                    <h:outputText style="font-size: 28px" value="Clientes"></h:outputText>
                    <br></br><br></br>
                    <p:dataTable var="cliente" value="#{AlquilerItems.consultarClientes()}">
                        <p:column headerText="Información" >
                            <h:commandButton value="Ir" action="#{AlquilerItems.goToClientPage(cliente.documento)}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText value="#{cliente.nombre}"/>
                        </p:column>
                        <p:column headerText="Documento">
                            <h:outputText value="#{cliente.documento}"/>
                        </p:column>
                        <p:column headerText="Telefono">
                            <h:outputText value="#{cliente.telefono}"/>
                        </p:column>
                        <p:column headerText="Dirección">
                            <h:outputText value="#{cliente.direccion}"/>
                        </p:column>
                        <p:column headerText="Email">
                            <h:outputText value="#{cliente.email}"/>
                        </p:column>
                </p:dataTable>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
