<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head></h:head>

    <h:body>
        <p:layout style="min-width:400px;min-height:500px;">
            <p:layoutUnit position="north" resizable="true" size="100" minSize="50" maxSize="400">
                <div align="center">
                    <h:outputText value="Cliente Actual | Nombre: "/>
                    <h:outputText value="#{AlquilerItems.getNombreClienteActual()}"/>
                    <h:outputText value=" | ID: "/>
                    <h:outputText value="#{AlquilerItems.getIDClienteActual()}"/>
                <h:form id="registro_alquiler">
                    <h:outputText value="Registrar Alquiler: "></h:outputText>
                    <h:inputText id="id" binding="#{id}" ></h:inputText>
                    <p:watermark for="id" value="Codigo del Item"/>
                    <h:outputText value="&#160;" />
                    <h:inputText id="numdias" binding="#{numdias}"/>
                    <p:watermark for="numdias" value="Numero de Días" />
                    <h:outputText value="&#160;" />
                    <p:commandButton value="Calcular Precio" update="precio"/>
                    <h:outputText value="&#160;" />
                    <h:outputText value="Valor Total: "/>
                    <h:outputText id="precio" value="#{AlquilerItems.consultarCostoAlquiler(id.value, numdias.value)}"/>
                    <h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
                    <h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
                    <p:commandButton action="#{AlquilerItems.registrarAlquilerClienteAhora(id.value, numdias.value)}" 
                                     update=":#{p:component('tabla_alquileres')} :#{p:component('tabla_disponibles')}" value="Confirmar Alquiler"/>
                </h:form>
                </div>
            </p:layoutUnit>
            <p:layoutUnit position="center" resizable="true" size="500" minSize="400">
                <h:form id="tabla_alquileres">
                    <h:outputText style="font-size: 28px" value="Alquileres Actuales del Cliente"></h:outputText>
                    <br></br><br></br>
                    <p:dataTable var="item" value="#{AlquilerItems.consultarItemsClienteActual()}">
                        <p:column headerText="ID del Producto">
                            <h:outputText value="#{item.getItem().getId()}"/>
                        </p:column>
                        <p:column headerText="Nombre del Producto">
                            <h:outputText value="#{item.getItem().getNombre()}"/>
                        </p:column>
                        <p:column headerText="Fecha Inicio Renta">
                            <h:outputText value="#{item.getFechainiciorenta().toString()}"/>
                        </p:column>
                        <p:column headerText="Fecha Fin Renta">
                            <h:outputText value="#{item.getFechafinrenta().toString()}"/>
                        </p:column>
                        <p:column headerText="Multa Actual">
                            <h:outputText value="#{AlquilerItems.consultarMultaAlquiler(item.getItem().getId())}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="east" resizable="true" size="500" minSize="350">
                <h:form id="tabla_disponibles">
                    <h:outputText value="Productos Disponibles"/>
                    <p:dataTable var="disponible" value="#{AlquilerItems.consultarItemsDisponibles()}">
                        <p:column headerText="Código">
                            <h:outputText value="#{disponible.getId()}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText value="#{disponible.getNombre()}"/>
                        </p:column>
                        <p:column headerText="Descripción">
                            <h:outputText value="#{disponible.getDescripcion()}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>
